<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Check out my IOT course!</h2>
                <hr class="light">
                <a href="https://coursemarks.com/course/dive-into-iot-with-esp8266-raspberry-pi-sensors-displays/" target="_blank" title="Dive into IOT, with esp8266 ,raspberry pi ,sensors ,displays on Coursemarks.com"><img border="0" src="https://coursemarks.com/widget/89.svg" width="200px" alt="Dive into IOT, with esp8266 ,raspberry pi ,sensors ,displays rating"/></a>
            </div>
        </div>
    </div>
</section>
