<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-12">
                <a href="https://wizard-of-things.github.io/esp32gateway" class="portfolio-box">
                    <img src="img/portfolio/esp32gateway.jpg" class="img-responsive" alt="">                    
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a href="https://wizard-of-things.github.io/nrf24dongle" class="portfolio-box">
                    <img src="img/portfolio/nrf24dongle.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a href="https://wizard-of-things.github.io/esp32lorabridge" class="portfolio-box">
                    <img src="img/portfolio/esp32lorabridge.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
