<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-12">
                <a href="https://wizard-of-things.github.io/project1" class="portfolio-box">
                    <img src="img/portfolio/nodered-control_825_444.jpg" class="img-responsive" alt="">                    
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <a href="https://wizard-of-things.github.io/project2" class="portfolio-box">
                    <img src="img/portfolio/grafana_monitor_825_444.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
